---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rendezvous Registration">
	<main>
		<h1 class="mb-8">Chainsaw Carvers Rendezvous</h1>
		<p class="mb-8">April 26-29, 2023 at the Ridgway Mills Campground in Ridgway, PA.</p>
		<ul>
			<li>
				<p class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm  dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"><span class="line-through">Carver Registration Form</span></p>
			</li>
			<li><a href="/vendors" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium text-sm  dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Vendor Registration Form</a></li>
			<li><a href="https://chainsawrendezvous.org" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm  text-center dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Rendezvous Website</a></li>
		</ul>
		
		
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	p {
		margin: 0;
	}
	.line-through { text-decoration-line: line-through; }
	li { margin: .5rem 0 .5rem 0; list-style: none;}
</style>
