---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rendezvous Vendor Registration">
	<main>
		<h1>Chainsaw Carvers Rendezvous</h1>
		<div class="instructions">
			Not available, yet!
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 140ch;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid var(--accent);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
