---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/base.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: rgb(178,178,178);
	}
	html {
		background-color: #F6F6F6;
		font-family: 'Open Sans Condensed',Helvetica,sans-serif;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
